episodes/EP03_n8n_WebScraping_to_WordPress/WebScraping_to_WordPress.json
{
  "name": "WebScraping_to_WordPress",
  "nodes": [
    {
      "parameters": {
        "url": "={{$json[\"base_domain\"]}}",
        "responseFormat": "string",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        400,
        0
      ],
      "typeVersion": 1,
      "id": "d10035f6-68a2-4fc5-a1ef-2b455ae36a2c"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "base_domain",
              "value": "https://www.artificialintelligence-news.com/"
            }
          ]
        },
        "options": {}
      },
      "name": "Set URL",
      "type": "n8n-nodes-base.set",
      "position": [
        208,
        0
      ],
      "typeVersion": 1,
      "id": "96edede8-7b95-4f83-a2a9-7b53c6628270"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "image",
              "cssSelector": "div img",
              "returnValue": "attribute",
              "attribute": "src",
              "returnArray": true
            },
            {
              "key": "post",
              "cssSelector": "h1 a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        608,
        0
      ],
      "id": "849748a3-d5f2-4f6f-b9be-ccddce2b91e3",
      "name": "HTML"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f170f77a-457d-4426-8b12-06a97e004daa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "post"
            },
            {
              "fieldToAggregate": "image[2]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "id": "c04a639f-713f-41b3-8062-86dd5294fa2f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      title: $node[\"AI Agent1\"].json.output.platform_posts.wordpress.Title,\n      content: `<img src=\"${$node[\"Upload to WordPress1\"].json.link}\" style=\"max-width:100%;\" /><br/> ${$node[\"AI Agent1\"].json.output.platform_posts.wordpress.post}${$node[\"AI Agent1\"].json.output.platform_posts.wordpress.post} อ่านเพิ่มเติมได้ที่ :<a href=\"https://www.artificialintelligence-news.com/\">https://www.artificialintelligence-news.com/</a>`,\n      status: \"publish\",\n      categories: [18]\n    }\n  }\n];\n\n\n"
      },
      "id": "354760db-85e9-4c64-b267-3f19adfd4e56",
      "name": "Set Post Data1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        848,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.digitalnomadthai.com/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-disposition",
              "value": "=attachment; filename= {{ $('Aggregate').item.json.image[2][0] }}"
            },
            {
              "name": "content-type",
              "value": "={{ $binary.data.mimeType  }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        272
      ],
      "id": "e341d067-5369-4138-87cd-50300eb715e8",
      "name": "Upload to WordPress1",
      "credentials": {
        "httpBasicAuth": {
          "id": "JiU3TygDSSATwsXp",
          "name": "auth wordpress"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.digitalnomadthai.com/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $('Upload to WordPress1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        272
      ],
      "id": "b1fa7af6-3705-4a92-a699-0765c7143c5f",
      "name": "Update Meta Data",
      "credentials": {
        "httpBasicAuth": {
          "id": "JiU3TygDSSATwsXp",
          "name": "auth wordpress"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://www.digitalnomadthai.com/wp-json/wp/v2/posts",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "headerParametersJson": "=",
        "queryParametersJson": "="
      },
      "id": "684e5d73-133e-4c71-90cc-f6e7a8576245",
      "name": "Post to WordPress1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1008,
        272
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "JiU3TygDSSATwsXp",
          "name": "auth wordpress"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        432
      ],
      "id": "f4963a98-db93-46ad-bc00-3b52c9f2049b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "FNTLr62FsyBeEYHP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"description\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"platform_posts\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"wordpress\": {\n\t\t\t\t\t\"type\": \"object\",\n\t\t\t\t\t\"properties\": {\n\t\t\t\t\t\t\"Title\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"post\": {\n\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t\t\t}\n\t\t\t\t\t\t}\n\t\t\t\t\t},\n\t\t\t\t\t\"additionalProperties\": false\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"additionalProperties\": true\n\t\t},\n\t\t\"additional_notes\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"additionalProperties\": false\n}\n"
      },
      "id": "746e7ffe-cbfc-41a1-a152-f4e3ce060bef",
      "name": "Social Media Content1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        272,
        432
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"เขียนบทความเกี่ยวกับ {{ $('Aggregate').item.json.post[0] }}  โดยเน้นไปที่ AI พร้อมคำแนะนำสำหรับผู้อ่าน สร้างหัวข้อย่อยและย่อหน้าที่มีความสอดคล้องกับเนื้อหา ใช้การจัดรูปแบบ HTML สำหรับการแสดงผลบน WordPress ด้วยการใช้แท็กที่เหมาะสม เช่น <h1>, <h2>, <p>, <ul>, <li>, <strong>, และ <em>\"\n\nคำแนะนำในการเขียน:\n- ต้องมีเนื้อหาที่ลึกซึ้งและน่าสนใจ\n- ใช้หัวข้อหลักและย่อยเพื่อแยกเนื้อหาให้เข้าใจง่าย\n- ใส่คำสำคัญหรือข้อความที่เน้นด้วย <strong> และ <em> หากจำเป็น\n- สร้างรายการหรือข้อแนะนำที่มีความหมายด้วย <ul> และ <li>\n- สรุปท้ายบทความด้วยข้อคิดเห็นหรือคำแนะนำ\n\nโปรดสร้างบทความออกมาในรูปแบบ HTML โดยไม่มีการใช้ข้อความเกินความจำเป็น\"\n\nข้อกำหนดสำคัญ:\nห้ามคัดลอกหัวข้อข่าวมาโดยตรง ต้องเขียนใหม่\nต้องเขียนให้เหมาะกับแนวทางของแต่ละ Platform\nโพสต์ต้องมีอารมณ์เชิงบวก หรือเป็นกลางเสมอ",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        64,
        272
      ],
      "id": "577523b5-c2b7-4eee-8553-05648d93e3d1",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Aggregate').item.json.image[2] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        272
      ],
      "id": "ba8e12e9-713d-4fd9-891e-f2adaf78bf9f",
      "name": "get image url1"
    }
  ],
  "pinData": {},
  "connections": {
    "Set URL": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Post Data1": {
      "main": [
        [
          {
            "node": "Post to WordPress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to WordPress1": {
      "main": [
        [
          {
            "node": "Set Post Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to WordPress1": {
      "main": [
        [
          {
            "node": "Update Meta Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "get image url1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Content1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "get image url1": {
      "main": [
        [
          {
            "node": "Upload to WordPress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be1921a9-5c62-4108-ab98-2a282f11c654",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0fdbd353b3d60f56600de4b356895824c257be7a727c065cd1e7a122c4e9aff"
  },
  "id": "eYoL5xFVR0zFPh9s",
  "tags": []
}