episodes/EP07_RAG_Gemini_Ollama_Supabase_n8n/workflow.json
{
  "name": "Rag Gemini Ollama Supabase Vector",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "f13af0a4-02e8-41b4-9ad8-55443604f031",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1424,
        944
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "3a3a9bee-fd2c-48fb-a946-850bdd574b21",
      "name": "Extract from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1360,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "id": "42a44446-4cd9-4b8f-bcc8-dc912954e515",
      "name": "Extract from CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1360,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Summarize').item.json.concatenated_text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set File ID').first().json.file_id}}"
              },
              {
                "name": "title",
                "value": "={{ $('Create Metadata Title & Description').item.json.output[0].title }}"
              },
              {
                "name": "description",
                "value": "={{ $('Create Metadata Title & Description').item.json.output[0].description }}"
              }
            ]
          }
        }
      },
      "id": "2141dbdd-4fce-4306-a852-581b138864e4",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2704,
        1440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1U_q2egTzc3eqgXcdxBln20DmH3qJLTrW",
          "mode": "list",
          "cachedResultName": "n8n_upload",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1U_q2egTzc3eqgXcdxBln20DmH3qJLTrW"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "af8b85b1-1cfa-4b76-b94e-48213ae232d8",
      "name": "Google Drive Trigger File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        1088,
        944
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "separator": "###SPLIT###"
      },
      "id": "97304af3-3a09-4724-8e87-7fff0ece6eca",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "position": [
        3008,
        1424
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0144a9a7-6e73-46c4-979f-838ad5c62b89",
              "name": "file_id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "af31206c-94e6-48fe-895e-f8a000486457",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "position": [
        1840,
        960
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Set File ID').item.json.file_id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "580b1192-be67-46f1-aea4-ae1aaeab10ea",
      "name": "Download FIle",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2208,
        960
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PLACEHOLDER_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "e959d5a8-d311-4a29-b400-7c07468a72fe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "application/pdf"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "application/pdf"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d5ae6f2d-e62d-4e08-aa06-629e6dfa7ee8",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $binary.data.mimeType }}",
                    "rightValue": "text/csv"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "text/csv"
            }
          ]
        },
        "options": {}
      },
      "id": "af92c035-f1f0-47e4-b542-c13a7386892b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        1104,
        1248
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"title\": \"Test Title 1 (Replace it with real title)\",\n    \"description\": \"Test Description 1 (Replace it with real description)\"\n  },\n  {\n    \"title\": \"Test Title 2 (Replace it with real title)\",\n    \"description\": \"Test Description 2 (Replace it with real description)\"\n  },\n  {\n    \"title\": \"Test Title 3 (Replace it with real title)\",\n    \"description\": \"Test Description 3 (Replace it with real description)\"\n  }\n]\n"
      },
      "id": "1a2575ef-8792-4389-84ea-a016c5ba535e",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2288,
        1440
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "0c8ba080-daab-493d-8c7d-4f1c7e9fb1e7",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        3008,
        1200
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<document> \n{{ $('AI Agent1').item.json.output }}\n</document> \n\n<chunk> \n{{ $('Split into chunks').item.json.texts }}\n</chunk> \n\nโปรดดำเนินการดังต่อไปนี้:\n- วิเคราะห์ chunk ด้านล่างนี้ว่ามาจากหมวดหมู่ใดในเอกสาร (เช่น กาแฟร้อน, กาแฟเย็น, ชาและเครื่องดื่ม, เบเกอรี่)\n- เขียนสรุปบริบท (context) สั้น ๆ โดยระบุชื่อหมวดหมู่และประเภทข้อมูล (เช่น ตารางราคา, รายการเมนู)\n- คืนค่า chunk ดั้งเดิมทุกประการ ยกเว้นกรณี:\n    * มีชื่อเมนู, ราคา, หรือคำอธิบายที่หายไป ให้เติมจากเอกสารฉบับเต็ม\n    * chunk ถูกตัดกลางตาราง ให้เติมแถวของตารางให้ครบ\n- หากมีข้อมูลซ้ำ ให้คงไว้เพียงครั้งเดียวใน chunk\n- ห้ามเปลี่ยนเนื้อหาที่ถูกต้องอยู่แล้ว\n\n**รูปแบบการตอบกลับ:**\n[บริบทโดยย่อ] : [chunk ดั้งเดิม หรือฉบับแก้ไขถ้าจำเป็น]\n\n**คำตอบต้องอยู่ในภาษาไทยเท่านั้น** และ **อย่าเพิ่มคำอธิบายอื่นนอกเหนือจากที่ระบุ**\n"
      },
      "id": "e12a0a90-a1d7-4de0-901a-58ce35b95675",
      "name": "Process Context",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        3040,
        960
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"data\":  {{ JSON.stringify($json.text) }}\n} ",
        "options": {}
      },
      "id": "d6f500ba-c0f3-4cc8-af60-e2c38307582c",
      "name": "Document Data",
      "type": "n8n-nodes-base.set",
      "position": [
        1584,
        1232
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "texts",
        "options": {
          "destinationFieldName": "texts"
        }
      },
      "id": "de223e76-1d95-41a9-b1ff-961d8b744044",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2640,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "maxItems": 20
      },
      "id": "7d2eb334-a73c-4777-b4a9-757356201311",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        2848,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "text",
              "separateBy": "other",
              "customSeparator": "###SPLIT###"
            }
          ]
        },
        "options": {}
      },
      "id": "d8f88a96-bed6-461a-ae5f-6924c655ba84",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "position": [
        3344,
        960
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 16,
        "options": {}
      },
      "id": "1a622d78-d5f1-498d-8882-1cbc9166e4b4",
      "name": "Add Data to Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2544,
        1232
      ],
      "typeVersion": 1.1,
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account chat"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "51d8e196-8752-4fe7-a182-c4a00d3caefa",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        2064,
        1440
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=โปรดสร้าง title และ description โดยอิงจากเนื้อหาเอกสารที่กำหนดไว้ด้านล่างนี้ จากข้อความนี้: {{ $json.output }}\nข้อมูลที่สร้างจะใช้สำหรับแยกข้อมูลในฐานข้อมูลเวกเตอร์ (vector DB) เพื่อการค้นคืนแบบ RAG\n\n\n**กรุณาตอบกลับเป็นภาษาไทยเท่านั้น** \n**ไม่ต้องเพิ่มคำอธิบายใดๆ นอกเหนือจาก metadata title และ metadata description**\n",
        "hasOutputParser": true
      },
      "id": "d5ab29ee-d9a6-48c6-a2d5-20374cda6296",
      "name": "Create Metadata Title & Description",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2112,
        1232
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "jsCode": "const chunkSize = 1000;\nconst chunkOverlap = 200;\n\n// รับข้อความจาก Node ก่อนหน้า\nconst rawText = $('AI Agent1').first().json.output;\n\n// ล้างข้อความ: ลบหมายเหตุในวงเล็บที่มีคำว่า \"ปรับ\"\nconst cleanedText = rawText.replace(/\\([^)]*?ปรับ[^)]*?\\)/g, \"\").trim();\n\nconst chunks = [];\nlet remainingText = cleanedText;\n\nwhile (remainingText.length > 0) {\n    let splitPoint = remainingText.lastIndexOf(\"\\n\\n\", chunkSize);\n    if (splitPoint === -1) splitPoint = remainingText.lastIndexOf(\". \", chunkSize);\n    if (splitPoint === -1) splitPoint = remainingText.lastIndexOf(\" \", chunkSize);\n    if (splitPoint === -1 || splitPoint < chunkSize * 0.5) splitPoint = chunkSize;\n\n    const chunk = remainingText.substring(0, splitPoint).trim();\n    chunks.push(chunk);\n\n    remainingText = remainingText.substring(Math.max(0, splitPoint - chunkOverlap)).trim();\n\n    if (remainingText.length < chunkSize * 0.2) {\n        chunks.push(remainingText);\n        break;\n    }\n}\n\n// ส่งออกแบบ array ตาม format ที่ Cohere Embed ต้องการ\nreturn [{\n  json: {\n    texts: chunks,\n    input_type: \"search_document\"\n  }\n}];\n\n"
      },
      "id": "8eddba99-f77b-4b85-b2ef-0aa68762b851",
      "name": "Split into chunks",
      "type": "n8n-nodes-base.code",
      "position": [
        2448,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "documents",
        "toolDescription": "ใช้ค้นหาข้อมูลจากฐานข้อมูลเวกเตอร์ที่อยู่ใน Supabase เท่านั้น เครื่องมือนี้จะรับคำค้นหาแล้วคืนข้อความที่ใกล้เคียงที่สุดจากเอกสารในระบบ ห้ามสร้างคำตอบจากความรู้ของคุณเองโดยเด็ดขาด หากไม่พบข้อมูลที่ตรงกับคำถาม ให้บอกผู้ใช้ว่า \"นั่นไม่ใช่คำที่มีอยู่ในฐานข้อมูล\"\n\n",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "topK": 1,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "id": "03ae06b7-c804-4e35-bac5-17836123771a",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        2240,
        608
      ],
      "typeVersion": 1.1,
      "credentials": {
        "supabaseApi": {
          "id": "PLACEHOLDER_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ต่อไปนี้คือคำถามจากผู้ใช้:  \n{{ $json.chatInput }}\n\nขั้นตอนที่คุณต้องดำเนินการมีดังนี้:\n\n1. วิเคราะห์คำถาม และปรับให้กระชับ ชัดเจน เหมาะสำหรับการใช้ค้นหาข้อมูลจากเวกเตอร์ดาต้าเบส (เช่น ตัดคำฟุ่มเฟือย หรือคำเกริ่น)\n2. ใช้คำถามที่ปรับแล้วเพื่อค้นหาข้อมูลจาก `Supabase Vector Store` ซึ่งเป็นเวกเตอร์ดาต้าเบสภายในองค์กร\n3. ตอบคำถามโดยอ้างอิงจากเนื้อหาที่ค้นเจอ **เท่านั้น**\n\n❌ ห้ามเดา ห้ามสร้างเนื้อหาที่ไม่มีอยู่จริง  \n✅ หากไม่พบข้อมูลที่เกี่ยวข้อง ให้ตอบว่า:  \n\"นั่นไม่ใช่คำที่มีอยู่ในฐานข้อมูล\"  \n❓ หากพบข้อมูลบางส่วนแต่ยังไม่ชัดเจน โปรดแจ้งให้ผู้ใช้เพิ่มคำค้นหรือบริบทเพิ่มเติม\n\n**คืนค่าคำตอบสุดท้ายเท่านั้น**\n",
        "options": {
          "systemMessage": "=คุณคือผู้ช่วยภายในองค์กร ที่สามารถตอบคำถามได้โดยอิงจากข้อมูลในระบบเวกเตอร์ดาต้าเบสเท่านั้น\n\nคุณมีเครื่องมือชื่อว่า \"supabase vector store\" ซึ่งใช้สำหรับค้นหาข้อมูลจากเอกสารภายในองค์กรที่ถูกฝัง (embedding) ไว้ใน Supabase Vector Store\n\n**คำแนะนำ:**\n- ห้ามใช้ความรู้ทั่วไปของคุณในการตอบคำถาม\n- ต้องเรียกใช้เครื่องมือ `supabase vector store` ทุกครั้งก่อนจะตอบคำถาม\n- ถ้าผลลัพธ์จากเครื่องมือไม่มีข้อมูลที่เกี่ยวข้อง (`results` ว่างเปล่า) ให้ตอบว่า:  \n  \"นั่นไม่ใช่คำที่มีอยู่ในฐานข้อมูล\"\n- ห้ามเดา ห้ามแต่งเรื่อง และห้ามให้ข้อมูลจากแหล่งอื่นนอกเหนือจากที่เครื่องมือส่งมา\n\nกรุณาตอบกลับเป็นข้อความภาษาธรรมชาติที่อ่านง่าย ไม่แสดง JSON, โค้ด หรือโครงสร้างข้อมูลดิบใดๆ\n"
        }
      },
      "id": "c22f1100-86b0-4d49-b0b5-baa3f997c0a0",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2016,
        448
      ],
      "typeVersion": 1.8,
      "retryOnFail": false,
      "notesInFlow": false,
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "contextWindowLength": 10000
      },
      "id": "3fc29837-d177-4af0-a842-57705ef8b97d",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        2000,
        752
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "llama3.2:3b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2432,
        784
      ],
      "id": "a6c21a44-4819-43bd-85be-416ef33975c3",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "PLACEHOLDER_OLLAMA_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2528,
        1440
      ],
      "id": "579a6544-3465-44be-aea3-1a84ed792563",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "PLACEHOLDER_OLLAMA_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=กรุณาช่วยตรวจสอบและแก้ไขคำผิดในข้อความต่อไปนี้ให้ถูกต้องตามหลักภาษาไทย โดยไม่เปลี่ยนความหมายของเนื้อหา หากมีคำสะกดผิดหรือใช้คำไม่เหมาะสม ให้แก้ไขให้เหมาะสม: {{ $('Document Data').item.json.data }}\nไม่ต้องสรุปการแก้ไขให้ดู",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1744,
        1232
      ],
      "id": "8e1725c4-3a47-4e24-b12b-0e625c3f7cc1",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1728,
        1440
      ],
      "id": "2f8c5206-5e16-48db-b4b6-af65d6a84cb9",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "PLACEHOLDER_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1712,
        752
      ],
      "id": "cc79dd0b-34f1-4780-8bcd-4b38da9ad786",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "PLACEHOLDER_OLLAMA_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// รับข้อมูลจาก Node ก่อนหน้า (string หรือ object)\nlet rawData = $input.first().json.output ?? $input.first().json;\n\n// แปลงเป็น string ถ้ายังไม่ใช่\nif (typeof rawData !== 'string') {\n  rawData = JSON.stringify(rawData);\n}\n\n// ลบ \\n, \\r, และเครื่องหมาย / ที่อยู่นอก JSON\nrawData = rawData.replace(/\\r?\\n|\\r/g, '').replace(/\\//g, '');\n\n// ดึงเฉพาะส่วนที่เป็น JSON {...}\nconst match = rawData.match(/\\{[\\s\\S]*\\}/);\n\nif (match) {\n  try {\n    const cleanJson = JSON.parse(match[0]);\n    return [{ json: cleanJson }];\n  } catch (err) {\n    return [{ json: { error: 'Invalid JSON after cleaning', raw: match[0] } }];\n  }\n} else {\n  return [{ json: { error: 'No JSON found in input', raw: rawData } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        448
      ],
      "id": "44f2a035-83d4-4f1b-91a0-93a8a6cb30e6",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ab502eb-9692-43e4-8740-ca47e202fbf1",
              "name": "body.events[0].message.text",
              "value": "={{ $json.body.events[0].message.text }}",
              "type": "string"
            },
            {
              "id": "39c38d95-41e9-4e0b-8873-febe6703371e",
              "name": "body.events[0].replyToken",
              "value": "={{ $json.body.events[0].replyToken }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        448
      ],
      "id": "87d185b9-75df-40dd-9169-b75fdefecf96",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer PLACEHOLDER_LINE_ACCESS_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Edit Fields').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"{{ $json.raw }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2704,
        448
      ],
      "id": "d0edbbb5-e43f-4959-9fd5-c9fdd8cf22ae",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Limit": {
      "main": [
        [
          {
            "node": "Process Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Add Data to Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Download FIle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Data": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download FIle": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Context": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Document Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Document Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into chunks": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Add Data to Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Process Context",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Create Metadata Title & Description",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Create Metadata Title & Description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger File Created": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Metadata Title & Description": {
      "main": [
        [
          {
            "node": "Split into chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Add Data to Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Create Metadata Title & Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "76b5d938-1542-4071-a937-b93bb1dc522d",
  "meta": {
    "templateId": "4551",
    "templateCredsSetupCompleted": true,
    "instanceId": "b0fdbd353b3d60f56600de4b356895824c257be7a727c065cd1e7a122c4e9aff"
  },
  "id": "e6p1Fs9D59gg3gTN",
  "tags": []
}
